html, body {
  margin: 0;
  background-color: rgba(251, 251, 251, 0.705);
  /* background: url(../public/pattern_texture1173.jpg); */
/*   background: url(../public/pattern_texture1173.jpg);
 */  background-position: center;
  background-size: cover;
  background-blend-mode: 35;
  background-repeat: repeat;

  height: 100%;
}

.App {
  text-align: center;
  align-content: center;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  color:white;
  text-shadow: 0 0 10px black;
  border: 2px #010407;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .App-header-open{
  background: url(../public/PngItem_1870837_open.png);
} */
.App-dashboard{

  text-shadow: 0 0 10px black;
  border: 2px #010407;
  text-align: center;
  color:white;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.gauge{
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.App-header {
  background-color: #f6f6f6;
  background: url(../public/bemoody1.jpg);
  background-position: center;
  background-size: cover;
  min-height: 25vh;
  /* max-height: 35vh; */ 
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 0 0 10px black;
  border: 2px #010407;
}

/* button {
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 30px;
  text-align: center;
  border: none;
  clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 100%, 0 50%);
  background-color: grey;
  background-image: radial-gradient(200% 70% at center 20%, rgba(48,44,45,1) -30%, rgba(50,46,47,1) 49%, rgba(22,18,19,1) 50%, rgba(22,18,19,1) 150%);
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
  width: 200px;
  margin: 10px;
 }
 
 button:hover {
  background-position-y: -50px;
 }
 
 button:active {
  transform: scale(0.99);
 } */

 .chart{
   align-content: center;
 }
 .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}






input:checked + .slider {
  background-color: #010407;
 }
 
 input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
  transform: translateX(1.5em);
 }
 input{
  width:10%;
  padding:15px;
  margin:5px;
  border-radius:1px;
  border:1px solid #ccc;
  font-family:inherit;
  color: black;
  
}
.bn3637 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 2px #010407;
  border-radius: 3rem;
}

.bn37 {

  background-color: #fff;
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
  
.bn37:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}